<div *ngIf="examTime">
    <div *ngxPermissionsOnly="['STUDENT']" class="counter">
        <counter [timeLeft]="examTime" (submitAnswer)="submitAnswers()"></counter>
    </div>
</div>


<div class="form-group align-start" style="margin-top: 10px;">

    <div class="mcqQuestions-title">
        <h4 [hidden]="mcQuestions&&mcQuestions.length==0">{{mcqQuestionsTitle}}</h4>
    </div>

    <div *ngFor="let mcqQ of mcQuestions;let i = index" class="bg-white card mb-4 order-list shadow-sm">
        <div class="gold-members p-4">
            <div class="media">
                <div class="media-body">
                    <div class="flex-space">
                        <h6 class="mb-2" style="color:#007bff;">
                            <a class="text-black"><span class="text-black font-weight-bold"> {{i+1}}-
                                </span>{{mcqQ.question}}</a>
                        </h6>

                        <span class="float-right text-info"><span class="text-black font-weight-bold">
                                {{'question.pointHeader'|translate}}:
                            </span>{{mcqQ.size}}<i class="icofont-check-circled text-success"></i></span>

                    </div>
                    <div *ngxPermissionsOnly="['STUDENT']" class="student-answer-view">
                        <div class="custom-control custom-radio">
                            <input (click)="addMcqAnswer($event)" type="radio" class="custom-control-input"
                                [id]="'mcQuestion:'+mcqQ.id+':'+mcqQ.answer1" [name]="'mcQuestion:'+mcqQ.id"
                                [value]="mcqQ.answer1">
                            <label class="custom-control-label"
                                [for]="'mcQuestion:'+mcqQ.id+':'+mcqQ.answer1">{{mcqQ.answer1}}</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input (click)="addMcqAnswer($event)" type="radio" class="custom-control-input"
                                [id]="'mcQuestion:'+mcqQ.id+':'+mcqQ.answer2" [name]="'mcQuestion:'+mcqQ.id"
                                [value]="mcqQ.answer2">
                            <label class="custom-control-label"
                                [for]="'mcQuestion:'+mcqQ.id+':'+mcqQ.answer2">{{mcqQ.answer2}}</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input (click)="addMcqAnswer($event)" type="radio" class="custom-control-input"
                                [id]="'mcQuestion:'+mcqQ.id+':'+mcqQ.answer3" [name]="'mcQuestion:'+mcqQ.id"
                                [value]="mcqQ.answer3">
                            <label class="custom-control-label"
                                [for]="'mcQuestion:'+mcqQ.id+':'+mcqQ.answer3">{{mcqQ.answer3}}</label>

                        </div>

                        <div class="custom-control custom-radio">
                            <input (click)="addMcqAnswer($event)" type="radio" class="custom-control-input"
                                [id]="'mcQuestion:'+mcqQ.id+':'+mcqQ.answer4" [name]="'mcQuestion:'+mcqQ.id"
                                [value]="mcqQ.answer4">
                            <label class="custom-control-label"
                                [for]="'mcQuestion:'+mcqQ.id+':'+mcqQ.answer4">{{mcqQ.answer4}}</label>
                        </div>
                    </div>
                    <div *ngxPermissionsOnly="['TEACHER']" class="teacher-answer-view">
                        <p class="text-gray mb-1"><span class="text-black font-weight-bold"> 1-:
                            </span> {{mcqQ.answer1}} </p>
                        <p class="text-gray mb-3"><span class="text-black font-weight-bold"> 2-:
                            </span>{{mcqQ.answer2}}</p>
                        <p class="text-gray mb-3"><span class="text-black font-weight-bold"> 3-:
                            </span>{{mcqQ.answer3}}</p>
                        <p class="text-gray mb-3"><span class="text-black font-weight-bold"> 4-:
                            </span>{{mcqQ.answer4}}</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="flex-space">
                <p *ngxPermissionsOnly="['TEACHER']" class="text-gray mb-3"><span class="text-black font-weight-bold">
                        {{'question.answer.correctAnswerLabel'|translate}}:
                    </span>{{mcqQ.correct}}</p>

                <div>
                    <button *ngxPermissionsOnly="['TEACHER']" class="btn btn-primary btn-sm" role="button"
                        aria-pressed="true" (click)="deleteMCQQuestion(mcqQ)"><i
                            class="icofont-headphone-alt"></i>{{'button.delete'|translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="trueOrFalseQuestions-title">
        <h4 [hidden]="trueOrFalseQuestions&&trueOrFalseQuestions.length==0">{{trueOrFalseQuestionsTitle}}</h4>
    </div>

    <div *ngFor="let TFQ of trueOrFalseQuestions;let i = index" class="bg-white card mb-4 order-list shadow-sm">
        <div class="gold-members p-4">
            <div class="media">
                <div class="media-body">
                    <div class="flex-space">
                        <h6 class="mb-2" style="color:#007bff;">
                            <a class="text-black"><span class="text-black font-weight-bold"> {{i+1}}-
                                </span>{{TFQ.question}}</a>
                        </h6>
                        <span class="float-right text-info"><span class="text-black font-weight-bold">
                                {{'question.pointHeader'|translate}}:
                            </span>{{TFQ.size}}<i class="icofont-check-circled text-success"></i></span>


                    </div>
                    <div *ngxPermissionsOnly="['STUDENT']" class="student-answer-view">
                        <div class="custom-control custom-radio">
                            <input (click)="addTrueOrFalseAnswer($event)" type="radio" class="custom-control-input"
                                [id]="'trueOrFalseQuestion:'+TFQ.id+':true'" [name]="'trueOrFalseQuestion:'+TFQ.id" [value]="true">
                            <label class="custom-control-label"
                                [for]="'trueOrFalseQuestion:'+TFQ.id+':true'">{{trueOrFalseAnswers[0]}}</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input (click)="addTrueOrFalseAnswer($event)" type="radio" class="custom-control-input"
                                [id]="'trueOrFalseQuestion:'+TFQ.id+':false'" [name]="'trueOrFalseQuestion:'+TFQ.id" [value]="false">
                            <label class="custom-control-label"
                                [for]="'trueOrFalseQuestion:'+TFQ.id+':false'">{{trueOrFalseAnswers[1]}}</label>
                        </div>
                    </div>
                    <div *ngxPermissionsOnly="['TEACHER']" class="teacher-answer-view">
                        <p class="text-gray mb-1"><span class="text-black font-weight-bold"> 1-:
                            </span>{{trueOrFalseAnswers[0]}}</p>
                        <p class="text-gray mb-3"><span class="text-black font-weight-bold"> 2-:
                            </span>{{trueOrFalseAnswers[1]}}</p>
                    </div>
                    <hr>

                </div>
            </div>
            <div class="flex-space">
                <p *ngxPermissionsOnly="['TEACHER']" class="text-gray mb-3"><span class="text-black font-weight-bold">
                        {{'question.answer.correctAnswerLabel'|translate}}:
                    </span>{{TFQ.correct}}</p>

                <div>
                    <button *ngxPermissionsOnly="['TEACHER']" class="btn btn-primary btn-sm" role="button"
                        aria-pressed="true" (click)="deleteTOFQuestion(TFQ)"><i
                            class="icofont-headphone-alt"></i>{{'button.delete'|translate}}</button>
                </div>
            </div>
        </div>

    </div>

    <div class="essayQuestions-title">
        <h4 [hidden]="essayQuestions&&essayQuestions.length==0">{{essayQuestionsTitle}}</h4>
    </div>

    <div *ngFor="let essayQ of essayQuestions;let i = index" class="bg-white card mb-4 order-list shadow-sm">
        <div class="gold-members p-4">
            <div class="media">
                <div class="media-body">

                    <div class="flex-space">
                        <textarea readonly [hidden]="essayQ.question.length==0" class="form-control text-black"
                            style="color:#007bff;" cols="40" rows="3">{{i+1}}- {{essayQ.question}}
                        </textarea>

                        <span class="float-right text-info display-15"><span class="text-black font-weight-bold">
                                {{'question.pointHeader'|translate}}:</span>{{essayQ.size}}</span>

                    </div>
                    <div [hidden]="!essayQ.questionsAsImage" class="col-lg-12 order-lg-1 text-center">
                        <h6 class="mb-2">{{i+1}}</h6>
                        <img [src]="essayQ.questionsAsImage" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                        <label class="custom-file">
                            <input type="button" id="file" class="custom-file-input">
                        </label>
                    </div>

                    <div *ngxPermissionsOnly="['STUDENT']" class="form-group col-xs-6">
                        <textarea (blur)="addEssayAnswer($event)" [name]="'question:'+essayQ.id" id="title" type="text"
                            class="form-control text-black mt-2" placeholder="Enter Answer"></textarea>
                    </div>

                    <div hidden *ngxPermissionsOnly="['STUDENT']" class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" accept="image/*" (change)="addEssayAnswerAsImage($event)"
                                    class="custom-file-input" [name]="'question:'+essayQ.id" id="image"
                                    aria-describedby="inputGroupFileAddon01">
                                <div *ngIf="!imageName">
                                    <label class="custom-file-label" for="image">Choose file</label>
                                </div>
                                <div *ngIf="imageName">
                                    <label class="custom-file-label" for="image">{{imageName}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                </div>

            </div>
            <div class="flex-space">

                <div></div>
                <div style="margin-bottom: 10px;">
                    <button *ngxPermissionsOnly="['TEACHER']" class="btn btn-primary btn-sm" role="button"
                        aria-pressed="true" (click)="deleteEssayQuestion(essayQ)"><i
                            class="icofont-headphone-alt"></i>{{'button.delete'|translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="paragraphQuestions-title">
        <h4 [hidden]="paragraphQuestions&&paragraphQuestions.length==0">{{paragraphQuestionsTitle}}</h4>
    </div>

    <div [hidden]="paragraphQuestions.length==0">

        <div *ngFor="let paragraphQ of paragraphQuestions;let i = index"
            class="bg-white card mb-4 order-list shadow-sm">

            <div class="gold-members p-4">
                <div class="media">
                    <div class="media-body">
                        <div class="flex-space">

                            <textarea readonly class="form-control text-black" style="color:#007bff;" cols="40"
                                rows="5">{{i+1}}- {{paragraphQ.paragraph}}</textarea>
                            <span class="float-right text-info display-15"><span class="text-black font-weight-bold">
                                    {{'question.pointHeader'|translate}}:</span>{{paragraphQ.size}}</span>
                        </div>
                        <div class="mr-2 ml=2">
                            <view-questions [(mcQuestions)]="paragraphQ.mcQuestion"
                                [(trueOrFalseQuestions)]="paragraphQ.trueOrFalseQuestion"
                                [(essayQuestions)]="paragraphQ.essayQuestion"
                                [(essayQuestionsTitle)]="essayQuestionsTitle"
                                [(trueOrFalseQuestionsTitle)]="trueOrFalseQuestionsTitle" [(examId)]="examId"
                                [(mcqQuestionsTitle)]="mcqQuestionsTitle"
                                [(paragraphQuestionsTitle)]="paragraphQuestionsTitle"
                                [(trueOrFalseAnswers)]="trueOrFalseAnswers" [httpRequestExam]="false"
                                [(paragraphId)]="paragraphQ.id"
                                (addTrueOrFAlseAnswerEmmiter)="appendChildTrueOrFalseAnswer($event)"
                                (addMcqAnswerEmmiter)="appendChildMcqAnswer($event)"
                                (addEssayAnswerEmmiter)="appendChildEssayAnswer($event)">
                            </view-questions>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span [hidden]="!totalPoints" class="float-right text-info" style="margin-bottom: 15px;"><span
            class="text-black font-weight-bold"> {{'question.totalPointsLabel'|translate}}:
        </span>{{totalPoints}}<i class="icofont-check-circled text-success"></i></span>

    <button *ngxPermissionsOnly="['STUDENT']" [hidden]="!httpRequestExam" (click)="submitAnswers()"
        class="btn btn-primary btn-lg btn-block">{{'button.save'|translate}}</button>
</div>