<section id="cover" class="min-vh-100 align-start">

    <div id="cover-caption">
        <div class="container">
            <div class="row text-black">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <button (click)="CloseUpdateView()" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="display-9 py-2 text-truncate">{{'course.updateCourseTitle'|translate}}</h4>
                    <div class="px-2">
                        <form>

                            <div class="form-row">
                                <div class="form-group col-md-6 mx-auto text-center">
                                    <label for="inputTitle">{{'course.title'|translate}}</label>
                                    <input required [(ngModel)]="courseUpdateDetails.title" #title="ngModel"
                                        name="title" type="title" class="form-control" id="inputTitle"
                                        placeholder="title">
                                </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
                                <div>{{'warning.titelCourseRequired'|translate}}</div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 mx-auto text-center">
                                    <label for="inputLevel">{{'course.level'|translate}}</label>
                                    <select required [(ngModel)]="courseUpdateDetails.level" name="level"
                                        #level="ngModel" id="level" class="custom-select">
                                        <option value="A1">{{'course.levels.a1'|translate}}</option>
                                        <option value="A2">{{'course.levels.a2'|translate}}</option>
                                        <option value="A3">{{'course.levels.a3'|translate}}</option>
                                        <option value="A4">{{'course.levels.a4'|translate}}</option>
                                        <option value="A5">{{'course.levels.a5'|translate}}</option>
                                        <option value="A6">{{'course.levels.a6'|translate}}</option>
                                        <option value="B1">{{'course.levels.b1'|translate}}</option>
                                        <option value="B2">{{'course.levels.b2'|translate}}</option>
                                        <option value="B3">{{'course.levels.b3'|translate}}</option>
                                        <option value="C1">{{'course.levels.c1'|translate}}</option>
                                        <option value="C2">{{'course.levels.c2'|translate}}</option>
                                        <option value="C3">{{'course.levels.c3'|translate}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="level.touched && !level.valid">
                                <div>{{'warning.levelRequired'|translate}}</div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6 mx-auto text-center">
                                    <label for="inputEmail4">{{'course.code'|translate}}</label>
                                    <input required [(ngModel)]="courseUpdateDetails.code" #code="ngModel" name="code"
                                        type="code" class="form-control" id="inputCode" placeholder="code">
                                </div>
                            </div>

                            <button (click)="updateCourse()" type="submit"
                                class="btn btn-primary">{{'button.save'|translate}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>