<section id="cover" class="min-vh-100">

    <div id="cover-caption">
        <div class="container">
            <div class="row text-black">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <button (click)="CloseUpdateView()" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="display-9 py-2 text-truncate">Update Course</h4>
                    <div class="px-2">
                        <form>

                            <div class="form-row">
                                <div class="form-group col-md-6 mx-auto text-center">
                                    <label for="inputTitle">Title</label>
                                    <input required [(ngModel)]="courseUpdateDetails.title" #title="ngModel"
                                        name="title" type="title" class="form-control" id="inputTitle"
                                        placeholder="title">
                                </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
                                <div>Title is required </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 mx-auto text-center">
                                    <label for="inputLevel">Level</label>
                                    <select required [(ngModel)]="courseUpdateDetails.level" name="level"
                                        #level="ngModel" id="level" class="custom-select mb-2 mr-sm-2 mb-sm-0">
                                        <option value="A1">A1</option>
                                        <option value="A2">A2</option>
                                        <option value="A3">A3</option>
                                        <option value="A4">A4</option>
                                        <option value="A5">A5</option>
                                        <option value="A6">A6</option>
                                        <option value="B1">B1</option>
                                        <option value="B2">B2</option>
                                        <option value="B3">B3</option>
                                        <option value="C1">C1</option>
                                        <option value="C2">C2</option>
                                        <option value="C3">C3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="level.touched && !level.valid">
                                <div>Level is required </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6 mx-auto text-center">
                                    <label for="inputEmail4">Code</label>
                                    <input required [(ngModel)]="courseUpdateDetails.code" #code="ngModel" name="code"
                                        type="code" class="form-control" id="inputCode" placeholder="code">
                                </div>
                            </div>

                            <button (click)="updateCourse()" type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>