<section id="cover" class="min-vh-100 align-start">

    <div id="cover-caption">
        <div class="container">
            <div class="row text-black">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <button (click)="CloseUpdateView()" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="display-9 py-2 text-truncate">{{'exam.updateExamTitle'|translate}}</h4>
                    <div class="px-2">
                        <form>

                            <div class="form-row">
                                <div class="form-group col-md-10 mx-auto text-center">
                                    <label for="inputTitle">{{'exam.title'|translate}}</label>
                                    <input required [(ngModel)]="examUpdateDetails.title" #title="ngModel" name="title"
                                        type="text" class="form-control" id="inputTitle" placeholder="title">
                                </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
                                <div>Title is required </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-10 mx-auto text-center">
                                    <label for="inputEmail4">{{'exam.code'|translate}}</label>
                                    <input required [(ngModel)]="examUpdateDetails.code" #code="ngModel" name="code"
                                        type="text" class="form-control" id="inputCode" placeholder="code">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-10 mx-auto text-center">
                                    <label for="inputEmail4">{{'exam.note'|translate}}</label>
                                    <input required [(ngModel)]="examUpdateDetails.note" #note="ngModel" name="note"
                                        type="text" class="form-control" id="inputCode" placeholder="note">
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-10 mx-auto text-center">
                                    <label for="inputEmail4">{{'exam.start'|translate}} (
                                        {{examUpdateDetails.fromDate|date:'dd/MM/yyyy'}} )</label>
                                    <input required [(ngModel)]="fromDate" #startDate="ngModel" name="startDate"
                                        type="date" class="form-control" id="inputCode" placeholder="start Date">
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-10 mx-auto text-center">
                                    <label for="inputEmail4">{{'exam.end'|translate}} (
                                        {{examUpdateDetails.toDate|date:'dd/MM/yyyy'}}
                                        )</label>
                                    <input required [(ngModel)]="toDate" #endDate="ngModel" name="endDate" type="date"
                                        class="form-control" id="inputCode" placeholder="End Date">
                                </div>
                            </div>


                            <label for="examTime">{{'exam.time'|translate}} ({{getExamTimeInMinutes()}} Minuts)</label>

                            <div class="form-row" id="examTime">
                                <div class="form-group col-md-10 mx-auto text-center"> <label
                                        for="examPeriodTime">{{'exam.time'|translate}}</label>

                                    <input required [(ngModel)]="examTime" name="examPeriodTime"
                                        #examPeriodTime="ngModel" id="examPeriodTime" type="Number" min="0"
                                        class="form-control" placeholder="{{getExamTimeInMinutes()}}">
                                </div>
                            </div>

                            <div class="form-row" id="examTime">
                                <div class="form-group col-md-10 mx-auto text-center">
                                    <label for="unit">{{'exam.timeUnitHeader'|translate}}</label>

                                    <select [(ngModel)]="timeUnit" name="unit" #unit="ngModel" id="unit"
                                        class="custom-select">
                                        <option value="60">{{'exam.timeUnit.minute'|translate}}</option>
                                        <option value="3600">{{'exam.timeUnit.hours'|translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <button (click)="updateExam()" type="submit"
                                class="btn btn-primary">{{'button.save'|translate}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>