<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav *ngxPermissionsOnly="['TEACHER','STUDENT','ADMIN']" id="sidebar" [ngClass]="status ? 'active' : 'notActive'">
        <div class="sidebar-header">
            <h5><a  [routerLink]="['/userProfile',activeUser.id]">{{activeUser.displayName}}</a></h5>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a [routerLink]="['']">{{ 'layout.home' | translate }}</a>
            </li>
            <li>
                <a  [routerLink]="['/users']">{{ 'layout.users' | translate }}</a>
            </li>
            <li>
                <a (click)="OpenUserCourses()" >{{ 'layout.course' | translate }}</a>
            </li>
            <li >
                <a  *ngxPermissionsOnly="['TEACHER']" [routerLink]="['/enrollRequests']">{{ 'layout.request' | translate }}</a>
            </li>
            
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a (click)="logout()">{{ 'layout.logout' | translate }}</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button *ngxPermissionsOnly="['TEACHER','STUDENT','ADMIN']" type="button" id="sidebarCollapse" (click)="clickEvent()" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <div class="nav navbar-nav mx-auto" id="navbarSupportedContent">
                    <h2>TOGETHER TO BUILD OUR FUTURE</h2>
                </div>

                <a class="navbar-brand" href="#">
                    <img src="/assets/img/logo.jpg" height="30" alt="mdb logo">
                </a>
            </div>
        </nav>
        <div class="jumbotron vertical-center">
            <ng-content select=".container-body">
            </ng-content>
        </div>

    </div>
</div>