<div class="table-wrapper-scroll-y my-custom-scrollbar align-start">
    <table class="table table-bordered table-striped mb-0">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">{{'user.name'|translate}}</th>
                <th class="text-center" scope="col">{{'exam.start'|translate}}</th>
                <th class="text-center" scope="col">{{'exam.end'|translate}}</th>
                <th class="text-center" scope="col">{{'user.examPoints'|translate}}</th>
                <th class="text-center" scope="col"></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solver of examSolvers">
                <td class="text-center">{{solver.userName}}</td>
                <td class="text-center">{{solver.start| date:'dd/MM/yyyy hh:mm:ss'}}</td>
                <td class="text-center">{{solver.end| date:'dd/MM/yyyy hh:mm:ss'}}</td>
                <td class="text-center">{{solver.score}}</td>
                <td style="text-align: center">
                    <button *ngxPermissionsOnly="['TEACHER']" class="btn btn-primary btn-sm" role="button"
                        aria-pressed="true" (click)="viewUserAnswer(solver.userId)"><i
                            class="icofont-headphone-alt"></i>{{'button.viewStudentAnswers'|translate}}</button></td>
            </tr>
        </tbody>
    </table>
</div>