<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a data-target="#profile" aria-expanded="false" aria-controls="profile" data-toggle="tab"
                        class="nav-link active">{{'user.profileLable'|translate}}</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">{{user.firstName}} {{user.lastName}}</h5>
                    <div class="row">
                        <div [class]="user.teacherTitle" class="col-md-6">
                            <div class="email-column">
                                <h6>{{'user.email'|translate}}</h6>
                                <p>
                                    {{user.email}}
                                </p>
                            </div>
                            <div class="level-column" *ngIf="user.studentLevel">
                                <h6>{{'user.level'|translate}}</h6>
                                <p>
                                    {{user.studentLevel}}
                                </p>
                            </div>

                            <div class="level-column" *ngIf="user.teacherTitle">
                                <h6>{{'user.title'|translate}}</h6>
                                <p>
                                    {{user.teacherTitle}}
                                </p>
                            </div>

                            <div class="level-column" *ngIf="user.phone">

                                <h6>{{'user.mobileNumber'|translate}}</h6>
                                <p>
                                    {{user.phone}}
                                </p>
                            </div>
                        </div>
                        <div hidden class="col-md-6" *ngxPermissionsOnly="['TEACHER']">
                            <h6>{{'course.CoursesLabel'|translate}}</h6>
                            <div *ngFor="let course of user.createdCourses" class="course-title">
                                <h5> <a class="badge badge-dark badge-pill"
                                        style="color: aliceblue;">{{course.title}}</a></h5>
                            </div>
                            <hr>

                            <span class="badge badge-primary"><i class="fa fa-user"></i>
                                {{user.createdCourses.length}} {{'course.courseLabel'|translate}}</span>
                            <span class="badge badge-success"><i class="fa fa-eye"></i>
                                {{user.numberOfActivestudents}} {{'user.studentLabel'|translate}}</span>
                            <hr>

                            <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                                </span>
                            </ng-template>

                            <ngb-rating [rate]="user.rate" [starTemplate]="t" [readonly]="true" max="5">
                            </ngb-rating>

                        </div>

                        <div *ngxPermissionsOnly="['STUDENT']" class="col-md-6">
                            <h6>{{'course.coursesLabel'|translate}}</h6>
                            <div *ngFor="let course of user.enrollCourse" class="course-title">
                                <h5> <a class="badge badge-dark badge-pill"
                                        style="color: aliceblue;">{{course.courseName}}</a></h5>
                            </div>
                            <hr>

                            <span class="badge badge-primary"><i class="fa fa-user"></i>
                                {{user.enrollCourse.length}} {{'course.courseLabel'|translate}}</span>
                            <hr>

                            <ng-template hidden #t let-fill="fill">
                                <span hidden class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                                </span>
                            </ng-template>

                            <ngb-rating hidden [rate]="user.rate" [starTemplate]="t" [readonly]="true" max="5">
                            </ngb-rating>

                        </div>

                        <div class="col-md-12" *ngIf="user.sammury">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span>
                                {{'user.summary'|translate}}</h5>
                            <p>
                                {{user.sammury}}
                            </p>
                        </div>
                    </div>
                    <!--/row-->
                </div>

            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img [src]="user.image" class="mx-auto img-fluid img-circle d-block"
                [alt]="user.firstName+' '+user.lastName">
            <label class="custom-file">
                <input type="button" id="file" class="custom-file-input">
            </label>
        </div>
    </div>
</div>