<div class="wrapper">
  <!-- Page Content Holder -->
  <div id="content"  class="align-start">
    <div class="jumbotron vertical-center">

      <div class="row">
        <div class="col-md-5 mx-auto">
          <div id="second">
            <div class="myform form ">
              <div class="logo mb-3">
                <div class="col-md-12 text-center">
                  <h1>{{'signUpLabel'|translate}}</h1>
                </div>
              </div>
              <form action="#" name="registration">
                <div class="form-group">
                  <label for="firstName">{{'user.fistName'|translate}}</label>
                  <input required [(ngModel)]="signUpRequest.firstName" name="firstName" #firstName="ngModel"
                id="firstName" type="text" class="form-control" placeholder="{{'placeHolder.firstName'|translate}}">
                  <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                    <div>{{'warning.firstNameRequired'|translate}}</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="middle">{{'user.middleName'|translate}}</label>
                  <input required [(ngModel)]="signUpRequest.middleName" name="middle" #middle="ngModel" id="middle"
                    type="text" class="form-control" placeholder="{{'placeHolder.middleName'|translate}}">
                  <div class="alert alert-danger" *ngIf="middle.touched && !middle.valid">
                    <div>{{'warning.middleNameRequired'|translate}}</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="lastName">{{'user.lastName'|translate}}</label>
                  <input required [(ngModel)]="signUpRequest.lastName" name="lastName" #lastName="ngModel" id="lastName"
                    type="text" class="form-control" placeholder="{{'placeHolder.lastName'|translate}}">
                  <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">
                    <div>{{'warning.lastNameRequired'|translate}}</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="email">{{'user.email'|translate}}</label>
                  <input required [(ngModel)]="signUpRequest.email" name="email" #email="ngModel" id="email" type="text"
                    class="form-control" placeholder="{{'placeHolder.email'|translate}}">
                  <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                  <div>{{'warning.emailRequired'|translate}}</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="password">{{'user.password'|translate}}</label>
                  <input required [(ngModel)]="signUpRequest.password" name="password" #password="ngModel" id="password"
                    type="password" class="form-control" placeholder="{{'placeHolder.password'|translate}}">
                  <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                    <div>{{'warning.passwordRequired'|translate}}</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="age">{{'user.age'|translate}}</label>
                  <input required [(ngModel)]="signUpRequest.age" name="age" #age="ngModel" id="age" type="text"
                    class="form-control" placeholder="{{'placeHolder.age'|translate}}">
                  <div class="alert alert-danger" *ngIf="age.touched && !age.valid">
                    <div>{{'warning.ageRequired'|translate}}</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="phone">{{'user.mobileNumber'|translate}}</label>
                  <input required [(ngModel)]="signUpRequest.phone" name="phone" #phone="ngModel" id="phone" type="text"
                    class="form-control" placeholder="{{'placeHolder.phone'|translate}}">
                  <div class="alert alert-danger" *ngIf="phone.touched && !phone.valid">
                    <div>{{'warning.phoneReqiured'|translate}}</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="lavel">{{'user.level'|translate}}</label>
                  <select required [(ngModel)]="signUpRequest.studentLevel" name="level" #level="ngModel" id="level"
                    class="custom-select mb-2 mr-sm-2 mb-sm-0">
                    <option value="A1">{{'course.levels.a1'|translate}}</option>
                    <option value="A2">{{'course.levels.a2'|translate}}</option>
                    <option value="A3">{{'course.levels.a3'|translate}}</option>
                    <option value="A4">{{'course.levels.a4'|translate}}</option>
                    <option value="A5">{{'course.levels.a5'|translate}}</option>
                    <option value="A6">{{'course.levels.a6'|translate}}</option>
                    <optgroup label="───────────"></optgroup>

                    <option value="B1">{{'course.levels.b1'|translate}}</option>
                    <option value="B2">{{'course.levels.b2'|translate}}</option>
                    <option value="B3">{{'course.levels.b3'|translate}}</option>
                    <optgroup label="───────────"></optgroup>
                    <option value="C1">{{'course.levels.c1'|translate}}</option>
                    <option value="C2">{{'course.levels.c2'|translate}}</option>
                    <option value="C3">{{'course.levels.c3'|translate}}</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="level.touched && !level.valid">
                    <div>{{'warning.levelRequired'|translate}}</div>
                  </div>
                </div>


                <div class="col-md-12 text-center mb-3">
                  <button (click)="createNewStudent()" type="submit"
                    class=" btn btn-block mybtn btn-primary tx-tfm">{{'button.signUp'|translate}}</button>
                </div>

                <div class="col-md-12 ">
                  <div class="form-group">
                    <p class="text-center"><a [routerLink]="" (click)="openLoginPage()" id="signin">{{'button.loginPage'|translate}}</a></p>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

