<form #createCourseForm="ngForm">
  <div class="row justify-content-center">
    <h1>New course</h1>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input required [(ngModel)]="courseRequest.title" name="title" #title="ngModel" id="title" type="text"
      class="form-control">
    <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
      <div>Title is required </div>
    </div>
  </div>

  <div class="form-group">
    <label for="code">Code</label>
    <input required [(ngModel)]="courseRequest.code" name="code" #code="ngModel" id="code" type="text"
      class="form-control">
    <div class="alert alert-danger" *ngIf="code.touched && !code.valid">
      <div>Code is required </div>
    </div>
  </div>


  <div class="form-group">
    <label for="lavel">Level</label>
    <select required [(ngModel)]="courseRequest.level" name="level" #level="ngModel" id="level"
      class="custom-select mb-2 mr-sm-2 mb-sm-0">
      <option value="A1">A1</option>
      <option value="A2">A2</option>
      <option value="A3">A3</option>
      <option value="A4">A4</option>
      <option value="A5">A5</option>
      <option value="A6">A6</option>
      <option value="B1">B1</option>
      <option value="B2">B2</option>
      <option value="B3">B3</option>
      <option value="BC">C1</option>
      <option value="C2">C2</option>
      <option value="C3">C3</option>
    </select>
    <div class="alert alert-danger" *ngIf="level.touched && !level.valid">
      <div>Level is required </div>
    </div>
  </div>
  <button (click)="createNewCourse()" class="btn btn-primary" [disabled]="!createCourseForm.valid">Submit</button>
</form>